@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*{
  margin: 0px;
  padding: 0px;
  outline: none !important;
  box-shadow: none !important;
}

*:focus, *:active{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

/* Colors */
:root {
  --primary: #54D154;
  --white: #ffffff;
  --light-gray: #F2F1F1;
  --dark-gray: #333333;
  --darker-gray: #222222;
  --text-color-dark: #828181;
  --text-color: #828181;
  --text-color-light:#B7B3B3;
  --generic-padding: 35px;
}

/* 
          Generic CSS
*/

/* Typography */


.--fs-15{
  font-size: 1rem;
}

.--fs-20{
  font-size: 1.33rem;
}

.--fs-24{
  font-size: 1.6rem;
}

.--fs-55{
  font-size: 3.66rem;
}

.--fw-l{
  font-weight: 300;
}

.--fw-r{
  font-weight: 400;
}

.--fw-m{
  font-weight: 500;
}

.--fw-b{
  font-weight: 700;
}

/* Color Classes */

.--c-text-color-dark{
  color: var(--text-color-dark);
}

.--c-text-color{
  color: var(--text-color);
}

.--c-color-light{
  color: var(--text-color-light);
}

.--c-primary{
  color: var(--primary);
}

.--bg-primary{
  background-color: var(--primary);
}

.--c-white{
  color: var(--white);
}

.--bg-white{
  background-color: var(--white);
}

.--c-light-gray{
  color: var(--light-gray);
}

.--bg-light-gray{
  background-color: var(--light-gray);
}

.--c-dark-gray{
  color: var(--dark-gray);
}

.--bg-dark-gray{
  background-color: var(--dark-gray);
}

.--c-darker-gray{
  color: var(--darker-gray);
}

.--bg-darker-gray{
  background-color: var(--darker-gray);
}




/* Typography */

.--section-heading{
  color: var(--text-color-dark);
  font-size: 1.25rem;
}

.--heading-underline::after{
  content: '';
    border: 1px solid var(--text-color-dark);
    width: 43px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
















/* Buttons */

.--custom-button{
  width: 200px;
  height: 47px;
  font-size: 1.25rem;
  border-radius: 50px;
  line-height: 1.8;
}

.--custom-button-small{
  width: 120px;
  height: 25px;
  font-size: 1rem;
  line-height: .8;
}



/* Margins and paddings */

.--p-35{
  padding: var(--generic-padding);
}
.--pt-35{
  padding-top: var(--generic-padding);
}
.--pr-35{
  padding-right: var(--generic-padding);
}
.--pb-35{
  padding-bottom: var(--generic-padding);
}
.--pl-35{
  padding-left: var(--generic-padding);
}


/* 
        Main CSS
*/

/* Header */
.header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header .navbar{
  padding-top: 5px;
}

.header .nav-item.active{
  border-top: 5px solid var(--primary);
  margin-top: -5px;
}

.header .form-control{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  color: var(--darker-gray);
}

.hero{
  background: url(../img/background.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero .main-heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero .scroll-down{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.what-we-do .--section-description{
  margin-top: 1rem;
  margin-bottom: 0px;;
}